# ========================
# OS / Editor files
# ========================
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
pip-log.txt

# ========================
# Node / Frontend (future-proof)
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Docker
# ========================
*.log
docker-compose.override.yml

# ========================
# Kubernetes
# ========================
*.bak
*.tmp

# ========================
# Database
# ========================
*.sqlite3
*.db

# ========================
# Secrets (VERY IMPORTANT)
# ========================
.env.*
*.pem
*.key
*.crt
secrets.yaml
secret.yaml
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.pem


# ========================
# Build / Dist
# ========================
dist/
build/

# ========================
# Jenkins / CI
# ========================
workspace/

